body {
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

    min-height: 100vh;
    height: 100vh;
    font-weight: 100;
    display: table;
}

#preloader {
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader {
    background: #FFFFFF;
    height: 36px;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 36px;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

h1.title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    margin: unset;
}

.copyright {
    color: #FFFFFF;
}

.main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main .sidebar {
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    text-align: left;
}

.search {
    padding: 12px 10px;
    background: #FFFFFF;
    position: relative;
}

.search input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.search .icon {
    width: auto;
    height: auto;
    outline: unset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.list-cities .city {
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCCCCC;
}

.list-cities .city .time-zone {
    color: #48EBFA;
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
}

.list-cities .city .name {
    color: #FFFFFF;
    font-size: 20px;
}

.list-cities .city .temperature {
    color: #FFFFFF;
    font-size: 28px;
    text-align: right;
}

.share {
    padding-top: 15px;
    padding-bottom: 15px;
}

.share a {
    text-decoration: unset;
    display: inline-flex;
    margin: 4px;
}

.info {
    color: #FFFFFF;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
}

.info .location {
    text-align: right;
    padding-top: 15px;
}

.info .location .city {
    font-size: 30px;
}

.info .location .region {
    font-size: 16px;
}

.info .footer {
    padding-bottom: 15px;
}

.info .footer .datetime {
    text-align: left;
}

.info .footer .time {
    font-size: 35px;
}

.info .footer .date {
    font-size: 18px;
}

.info .footer .temperature {
    text-align: right;
    font-size: 90px;
    line-height: 80px;
}

.current-weather .icon {
    padding-top: 15px;
    height: 112px;
}

.current-weather .icon img {
    width: 100px;
}

.current-weather .description {
    font-size: 35px;
    padding-bottom: 10px;
}

.today .timeline {
    border-bottom: 1px solid #CCCCCC;
    line-height: 39px;
}

.today .timeline:first-child {
    border-top: 1px solid #CCCCCC;
}

.today .timeline .hour {
    font-size: 18px;
}

.today .timeline .temperature {
    font-size: 18px;
    text-align: right;
}
