body {
    min-height: 100vh;
    height: 100vh;
}

.weather-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.weather-wrapper h1.title,
.weather-wrapper .copyright {
    color: #FFFFFF;
}

.weather-wrapper h1.title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
}

.left-sidebar {
    background: rgba(0, 0, 0, 0.7);
}

.left-sidebar .city-data {
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCCCCC;
}

.left-sidebar .city-data .name,
.left-sidebar .city-data .temperature {
    color: #FFFFFF;
}

.left-sidebar .city-data .time-zone {
    color: #48EBFA;
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
}

.left-sidebar .city-data .name {
    font-size: 20px;
}

.left-sidebar .city-data .temperature {
    font-size: 28px;
    text-align: right;
}

.search-city {
    padding: 12px 10px;
    background: #FFFFFF;
    position: relative;
}

.search-city input[type="text"]:not(.browser-default) {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.search-city .search-icon {
    width: auto;
    height: auto;
}